<div class="container">
  <div class="row">
    <% @bookings.each do |booking| %>
      <% if booking.user_id == current_user.id %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card">
            <div class="front">
              <img src=<%= cl_image_path booking.desk.photo %>>
              <div class="caption">
                <%=  booking.user.email %>
                <h6>Has booked your desk: </h6>
                <h6><%= booking.desk.name %></h6>
              </div>
              <p>From: <%= booking.start_date %> <br> To: <%= booking.end_date %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
