<div class="container">
  <div class="row">
  <% if @desks.empty? %>
    <h2>Unfortunately there are no desks available in your area.</h2>
  <% else %>
      <% @desks.each do |desk| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card">
            <div class="front">
              <img src=<%= cl_image_path desk.photo %>>
              <div class="caption">
                <h2><%=desk.name%></h2>
                <p><%= desk.description %> <br>
                  $ <%= desk.price %> <br>
                  <%= desk.address %></p>
                <a href="#"><%= link_to "", desk_path(desk)%></a>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
