<h1 class="text-center" style="margin-bottom: 4vh;">Desk Results</h1>
<div class="container">
  <div class="row">


  <div class="col-xs-12 col-sm-6 col-md-8">

    <% @desks.each do |desk| %>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="card">
          <div class="front">
            <img src=<%= cl_image_path desk.photo %>>
            <div class="caption">
              <h2><%=desk.name%></h2>
              <h6><%=desk.price%>€      <%=desk.rate.pricing%></h6>
              <p><%= desk.description[0,30] %>... <br>
                <%= desk.price %>€ <%=desk.rate.pricing%><br>
                <%= desk.address %></p><br>
                <%= desk.capacity %>
                <a href="#"><%= link_to "", desk_path(desk)%></a>
              </div>
            </div>
          </div>
        </div>
      </div>

    <% end %>

  <div class="col-xs-12 col-md-4">
    <div id="map" style="width: 100%; height: 600px" data-markers="<%= @markers.to_json %>"></div>
  </div>
  </div>
  </div>
</div>
</div>

