
<div class="container" style="margin-top: 2vh;">
  <div class="row">
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @desk.photo %>');">
      <div class="card-category">Popular</div>
      <div class="card-description">
        <h2><%= @desk.name %></h2>
        <p><%= @desk.description %></p>
        <p><%= @desk.address %></p>
      </div>
      <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
      <a class="card-link" <%= link_to "", desk_path(@desk)%> </a>
    </div>
    <div class="text-center" style="margin-top: 6vh;">
      <%= link_to "Remove this Desk", @desk, class: "btn-treehouse", method: :delete, data: { confirm: 'Are you sure?' } %>
      <%= link_to "Edit this Desk", edit_desk_path(@desk), class: "btn-treehouse" %>
    </div>
  </div>
</div>
